<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="/admin/acceuil" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nos élèves</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-info d-flex align-items-center">
                        <h3 class="card-title flex-grow-1"><i class="fa fa-list fa-2x"></i> Liste des élèves</h3>

                        <div class="card-tools d-flex align-items-center">
                            <a class="btn btn-link text-white mr-4 d-block" href="/admin/eleve/showForm/" ><i class="fa fa-plus-square"></i> Nouveau</a>

                            <div class="input-group input-group-md" style="width: 250px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prenom</th>
                                <th>Date Naiss</th>
                                <th>Lieu Naiss</th>
                                <th>Sexe</th>
                                <th>Classe</th>
                                <th >Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="el:${eleves}">
                                <td th:text="${el.nom}"></td>
                                <td th:text="${el.prenom}"></td>
                                <td th:text="${el.dateNaissance}"></td>
                                <td th:text="${el.lieuNaissance}"></td>
                                <td th:text="${el.sexe}"></td>
                                <td th:text="${el.classe.libelle}"></td>
                                <td class="text-center">
                                    <a class="btn btn-link btn-warning" th:href="@{/admin/eleve/get(id=${el.id})}"> <i class="far fa-edit"></i> </a>
                                    <a class="btn btn-link btn-danger" th:href="@{/admin/eleve/delete(id=${el.id})}"> <i class="far fa-trash-alt"></i> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>