<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="/admin/acceuil" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une classe</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-info">
                    <div class="card-header bg-info">
                        <h3 class="card-title">Ajouter une classe</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form th:action="@{/admin/classe/add}" th:object="${classe}" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Libelle</label>
                                <input type="text" th:field="*{libelle}" class="form-control" placeholder="Enter le nom" />
                            </div>
                            <div class="form-group">
                                <label>Année scolaire</label>
                                <input  type="number" class="form-control" th:field="*{anneScolaire}" placeholder="Enter le nom" />

                            </div>
                            <div class="form-group">
                                <label >Niveau</label>
                                <select class="form-control" th:field="*{niveau}">
                                    <option value="">Choisir le Niveau</option>
                                    <option th:each="n:${niveau}" th:value="${n.id}" th:text="${n.libelle}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label >Emploi du temps</label>
                                <select class="form-control" th:field="*{emploiTemps}">
                                    <option value="">Choisir un emploi</option>
                                    <!--<option th:each="em:${emploi}" th:value="${em}" th:text="${em.}"></option>-->
                                </select>
                            </div>
                            <br>
                        </div>

                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-info">Enregistrer</button>
                            <a type="button" href="/admin/classe/list" class="btn btn-danger">Annuler</a>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>

</body>
</html>